
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family:"Lora", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  list-style: none;
  text-decoration: none;
}
*::selection{
  background:var(--main-color) ;
  color: #fff;
}
:root{
  --main-color:#C057F0;
  --text-color:#000;
  --bg-color:#fff;
  
  --big-font: 4rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}

section {
  padding: 50px 100px;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-items: space-between;
  background: var(--bg-color);
  padding: 25px 50px;
  box-shadow: 0 1rem 50rem rgba(0,0,0,0.1);
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
  
}

.navbar {
  display: flex;
}

.navbar a{
  font-size: 2.5rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a:hover{
  color: var(--main-color);
}

#menu-icon {
  font-size: 2.5rem;
}


.home{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem
}

.home-img img{
  width: 100%;
}

.home-text h1 {
  font-size: var(--big-font);
  color: var(--main-color);
}

.home-text h2{
  font-size: var(--h2-font);
  margin: 1rem 0 1rem;
}

.btn{
  display: inline-block;
  background: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #fff;
}

.btn:hover {
  background: #CB64FF;
}

.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
}

.about-img img{
  max-width: 80%;
  border-radius: 0.5rem;
}

.about-text span{
  color: var(--main-color);
  font-weight: 500;
}
.about-text h2{
  font-size: var(--h2-font);
}

.about-text p{
  margin: 0.8rem 0 1.8rem;
}

.heading{
  text-align: center;
}

.heading span{
  color: var(--main-color);
  font-weight: 500;
}

.heading h2{
  font-size: var(--h2-font);
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  align-items: center;
}

.box {
  position: relative;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(5, 65, 55 /10%);
  padding: 10px;
}

.box-img {
  width: 200px;
  height: 200px;
}

.box-img img{
  width: 100%;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.box h2{
  font-size: 1.2rem;
}

.box h3{
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
}

.box span{
  font-size: var(--p-font);
  font-weight: 500;
}

.box.bx{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: var(--main-color);
  border-radius: 0 0.5rem 0 0.5rem;
  padding: 5px 8px;
}

.box .bx:hover{
  background: #CB64FF;
}



